In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
nvda = yf.Ticker('NVDA')
nvda.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m         11   50     3     1           0
1    -1m         10   49     4     1           0
2    -2m         10   48     4     1           0
3    -3m         10   47     6     1           0

In [16]:
data = yf.download(tickers='NVDA', start='2005-01-01', end='2008-01-01')

/var/folders/r9/p2jlwx0x1ynbf2k3x55pwktw0000gn/T/ipykernel_24959/2271001731.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers='NVDA', start='2005-01-01', end='2008-01-01')
[*********************100%***********************]  1 of 1 completed

In [17]:
data.head

<bound method NDFrame.head of Price          Close      High       Low      Open      Volume
Ticker          NVDA      NVDA      NVDA      NVDA        NVDA
Date
2005-01-03  0.180168  0.188878  0.179404  0.186281  1066716000
2005-01-04  0.171687  0.181773  0.168936  0.181467   790224000
2005-01-05  0.173291  0.175354  0.168936  0.169853   724812000
2005-01-06  0.171611  0.178410  0.170388  0.176347   563568000
2005-01-07  0.168325  0.173291  0.165803  0.171992   763092000
...              ...       ...       ...       ...         ...
2007-12-24  0.820154  0.824051  0.805942  0.811902   104008000
2007-12-26  0.831157  0.831157  0.813736  0.821759   215340000
2007-12-27  0.805484  0.834366  0.803421  0.829781   241368000
2007-12-28  0.797461  0.813736  0.790585  0.804109   262064000
2007-12-31  0.779811  0.805484  0.779582  0.791043   276236000

[754 rows x 5 columns]>